{% extends "@AppWork/base.html.twig" %}

{% if theme is not defined %}
    {% set theme = {
        'charset': 'utf-8',
        'favicon': { 'href': 'favicon.ico' },
        'navbar': {
            'brand': { 'href': '/' },
            'profile': {
                'name': 'John Doe',
                'picture': { 'src': '/bundles/appwork/custom/img/no-one.jpg' }
            }
        },
        'sidenav': {
            'brand': { 'href': '/' }
        },
        'fonts': [
            { 'href': 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900' }
        ],
        'icons': [
            { 'href': '/bundles/appwork/vendor/fonts/fontawesome.css' },
            { 'href': '/bundles/appwork/vendor/fonts/ionicons.css' },
            { 'href': '/bundles/appwork/vendor/fonts/linearicons.css' },
            { 'href': '/bundles/appwork/vendor/fonts/open-iconic.css' },
            { 'href': '/bundles/appwork/vendor/fonts/pe-icon-7-stroke.css' }
        ],
        'coreStyleSheets': [
            { 'href': '/bundles/appwork/vendor/css/rtl/bootstrap.css', 'class': 'theme-settings-bootstrap-css' },
            { 'href': '/bundles/appwork/vendor/css/rtl/appwork.css', 'class': 'theme-settings-appwork-css' },
            { 'href': '/bundles/appwork/vendor/css/rtl/theme-corporate.css', 'class': 'theme-settings-theme-css' },
            { 'href': '/bundles/appwork/vendor/css/rtl/colors.css', 'class': 'theme-settings-colors-css' },
            { 'href': '/bundles/appwork/vendor/css/rtl/uikit.css' }
        ],
        'coreScripts': [
            { 'src': '/bundles/appwork/vendor/libs/popper/popper.js' },
            { 'src': '/bundles/appwork/vendor/js/bootstrap.js' },
            { 'src': '/bundles/appwork/vendor/js/sidenav.js' }
        ],
        'helperScripts': [
            { 'src': '/bundles/appwork/vendor/js/material-ripple.js' },
            { 'src': '/bundles/appwork/vendor/js/layout-helpers.js' },
            { 'src': '/bundles/appwork/vendor/js/theme-settings.js' }
        ],
        'headScripts': [
            { 'src': '/bundles/appwork/vendor/js/pace.js' },
            { 'src': 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }
        ],
        'styleSheetsOfLibs': [
            { 'href': '/bundles/appwork/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' }
        ],
        'scriptsOfLibs': [
            { 'src': '/bundles/appwork/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' }
        ],
        'customStyleSheets': [
            { 'href': '/bundles/appwork/custom/css/layout-default-priority-left.css' }
        ]
    } %}
{% endif %}

{% block title %}Administration{% endblock title %}

{% block head %}
    <meta charset="{{ theme.charset }}">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="icon" type="image/x-icon" href="{{ asset(theme.favicon.href) }}">
    {% if theme.fonts|length > 0 %}
        {% for font in theme.fonts %}
            <link href="{{ font.href }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
    {% if theme.icons|length > 0 %}
        {% for icon in theme.icons %}
            <link href="{{ icon.href }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
    {% if theme.coreStyleSheets|length > 0 %}
        {% for coreStyleSheet in theme.coreStyleSheets %}
            <link href="{{ coreStyleSheet.href }}"{% if coreStyleSheet.class is defined %} class="{{ coreStyleSheet.class }}"{% endif %} rel="stylesheet">
        {% endfor %}
    {% endif %}
    {% if theme.helperScripts|length > 0 %}
        {% for helperScript in theme.helperScripts %}
            <script src="{{ helperScript.src }}"></script>
        {% endfor %}
    {% endif %}
    <script>
        window.themeSettings = new ThemeSettings({
            cssPath: '/bundles/appwork/vendor/css/rtl/',
            themesPath: '/bundles/appwork/vendor/css/rtl/'
        });
    </script>
    {% if theme.headScripts|length > 0 %}
        {% for headScript in theme.headScripts %}
            <script src="{{ headScript.src }}"></script>
        {% endfor %}
    {% endif %}
    {% if theme.styleSheetsOfLibs|length > 0 %}
        {% for styleSheetOfLib in theme.styleSheetsOfLibs %}
            <link href="{{ styleSheetOfLib.href }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
    {% if theme.customStyleSheets|length > 0 %}
        {% for customStyleSheet in theme.customStyleSheets %}
            <link href="{{ customStyleSheet.href }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
{% endblock head %}

{% block body %}
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">

            <!-- Layout sidenav -->
            <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

                <!-- Brand -->
                <div class="app-brand">
                    <span class="app-brand-logo bg-primary">
                        {% block sidenav_brand_logo %}<img src="{{ asset('bundles/appwork/custom/img/moon.png') }}" />{% endblock sidenav_brand_logo %}
                    </span>
                    <a href="{{ theme.sidenav.brand.href }}" class="app-brand-text demo sidenav-text font-weight-normal ml-2">{% block sidenav_brand_title %}Priority Left{% endblock sidenav_brand_title %}</a>
                    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                        <i class="ion ion-md-menu align-middle"></i>
                    </a>
                </div>

                <div class="sidenav-divider mt-0"></div>

                {% block sidenav_links %}
                {% endblock sidenav_links %}
            </div>
            <!-- / Layout sidenav -->

            <!-- Layout container -->
            <div class="layout-container">

                <!-- Layout navbar -->
                <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">

                    <!-- Brand -->
                    <a href="{{ theme.navbar.brand.href }}" class="navbar-brand app-brand d-lg-none py-0 mr-4">
                        <span class="app-brand-logo bg-primary">
                            {% block navbar_brand_logo %}<img src="{{ asset('bundles/appwork/custom/img/moon.png') }}" />{% endblock navbar_brand_logo %}
                        </span>
                        <span class="app-brand-text font-weight-normal ml-2">{% block navbar_brand_title %}Priority Left{% endblock navbar_brand_title %}</span>
                    </a>

                    <!-- Sidenav toggle -->
                    <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                        <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                            <i class="ion ion-md-menu text-large align-middle"></i>
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="layout-navbar-collapse">
                        <!-- Divider -->
                        <hr class="d-lg-none w-100 my-2">

                        <div class="navbar-nav align-items-lg-center">
                            <!-- Search -->
                            <label class="nav-item navbar-text navbar-search-box p-0 active">
                                <i class="ion ion-ios-search navbar-icon align-middle"></i>
                                <span class="navbar-search-input pl-2">
                                {% block search_box %}
                                    <input type="text" class="form-control navbar-text mx-2" placeholder="Search..." style="width: 200px;">
                                {% endblock search_box %}
                            </span>
                            </label>
                        </div>

                        <div class="navbar-nav align-items-lg-center ml-auto">
                            {% block navbar_links %}
                            {% endblock navbar_links %}

                            <div class="navbar-user nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                                    <img src="{{ theme.navbar.profile.picture.src }}" alt class="d-block ui-w-30 rounded-circle">
                                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{ theme.navbar.profile.name }}</span>
                                </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:void(0)" class="dropdown-item"><i
                                                class="ion ion-ios-person text-lightest"></i> &nbsp; My profile</a>
                                    <a href="javascript:void(0)" class="dropdown-item"><i
                                                class="ion ion-ios-mail text-lightest"></i> &nbsp; Messages</a>
                                    <a href="javascript:void(0)" class="dropdown-item"><i
                                                class="ion ion-md-settings text-lightest"></i> &nbsp; Account settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item"><i
                                                class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- / Layout navbar -->

                <!-- Layout content -->
                <div class="layout-content">

                    <!-- Page content -->
                    {% block content %}
                    {% endblock content %}
                    <!-- / Page content -->

                    <!-- Layout footer -->
                    <nav class="layout-footer footer bg-footer-theme">
                        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                            {% block footer %}
                                <div class="pt-3">
                                    <span class="footer-text font-weight-bolder">Company</span> ©2018
                                </div>
                                <div>
                                    <a href="/" class="footer-link pt-3">Home</a>
                                </div>
                            {% endblock footer %}
                        </div>
                    </nav>
                    <!-- / Layout footer -->

                </div>
                <!-- Layout content -->

            </div>
            <!-- / Layout container -->

        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    {% if theme.coreScripts|length > 0 %}
        {% for coreScript in theme.coreScripts %}
            <script src="{{ coreScript.src }}"></script>
        {% endfor %}
    {% endif %}
    {% if theme.scriptsOfLibs|length > 0 %}
        {% for scriptOfLib in theme.scriptsOfLibs %}
            <script src="{{ scriptOfLib.src }}"></script>
        {% endfor %}
    {% endif %}
    <script src="{{ asset('bundles/appwork/custom/js/boot-priority-left.js') }}"></script>
{% endblock body %}