{% extends "@AppWork/base.html.twig" %}

{% if theme is not defined %}
    {% set theme = theme() %}
{% endif %}

{% block title %}Administration{% endblock title %}

{% block head %}
    <meta charset="{{ theme.charset|raw }}">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    {{ theme.favicon }}
    {% if theme.fonts|length > 0 %}
        {% for font in theme.fonts %}
            {{ font|raw }}
        {% endfor %}
    {% endif %}
    {% if theme.icons|length > 0 %}
        {% for icon in theme.icons %}
            {{ icon|raw }}
        {% endfor %}
    {% endif %}
    {% if theme.coreStyleSheets|length > 0 %}
        {% for coreStyleSheet in theme.coreStyleSheets %}
            {{ coreStyleSheet|raw }}
        {% endfor %}
    {% endif %}
    {% if theme.helperScripts|length > 0 %}
        {% for helperScript in theme.helperScripts %}
            {{ helperScript|raw }}
        {% endfor %}
    {% endif %}
    <script>
        window.themeSettings = new ThemeSettings({
            cssPath: '/bundles/appwork/vendor/css/rtl/',
            themesPath: '/bundles/appwork/vendor/css/rtl/'
        });
    </script>
    {% if theme.headScripts|length > 0 %}
        {% for headScript in theme.headScripts %}
            {{ headScript|raw }}
        {% endfor %}
    {% endif %}
    {% if theme.styleSheetsOfLibs|length > 0 %}
        {% for styleSheetOfLib in theme.styleSheetsOfLibs %}
            {{ styleSheetOfLib|raw }}
        {% endfor %}
    {% endif %}
    {% if theme.customStyleSheets|length > 0 %}
        {% for customStyleSheet in theme.customStyleSheets %}
            {{ customStyleSheet|raw }}
        {% endfor %}
    {% endif %}
{% endblock head %}

{% block body %}
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">

            <!-- Layout sidenav -->
            <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

                <!-- Brand -->
                <div class="app-brand">
                    <span class="app-brand-logo bg-primary">
                        {% block sidenav_brand_logo %}{{ theme.sidenav.brand.logo|raw }}{% endblock sidenav_brand_logo %}
                    </span>
                    <a href="{{ theme.sidenav.brand.link|raw }}" class="app-brand-text sidenav-text font-weight-normal ml-2">{% block sidenav_brand_title %}{{ theme.sidenav.brand.name|raw }}{% endblock sidenav_brand_title %}</a>
                    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                        <i class="ion ion-md-menu align-middle"></i>
                    </a>
                </div>

                <div class="sidenav-divider mt-0"></div>

                {% block sidenav_links %}
                {% endblock sidenav_links %}
            </div>
            <!-- / Layout sidenav -->

            <!-- Layout container -->
            <div class="layout-container">

                <!-- Layout navbar -->
                <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">

                    <!-- Brand -->
                    <a href="{{ theme.navbar.brand.link|raw }}" class="navbar-brand app-brand d-lg-none py-0 mr-4">
                        <span class="app-brand-logo bg-primary">
                            {% block navbar_brand_logo %}{{ theme.navbar.brand.logo|raw }}{% endblock navbar_brand_logo %}
                        </span>
                        <span class="app-brand-text font-weight-normal ml-2">{% block navbar_brand_title %}{{ theme.navbar.brand.name|raw }}{% endblock navbar_brand_title %}</span>
                    </a>

                    <!-- Sidenav toggle -->
                    <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                        <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                            <i class="ion ion-md-menu text-large align-middle"></i>
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="layout-navbar-collapse">
                        <!-- Divider -->
                        <hr class="d-lg-none w-100 my-2">

                        <div class="navbar-nav align-items-lg-center">
                            <!-- Search -->
                            <label class="nav-item navbar-text navbar-search-box p-0 active">
                                <i class="ion ion-ios-search navbar-icon align-middle"></i>
                                <span class="navbar-search-input pl-2">
                                {% block search_box %}
                                    <input type="text" class="form-control navbar-text mx-2" placeholder="{{ theme.navbar.searchbar.placeholder|raw }}" style="width: {{ theme.navbar.searchbar.width|raw }};">
                                {% endblock search_box %}
                            </span>
                            </label>
                        </div>

                        <div class="navbar-nav align-items-lg-center ml-auto">
                            {% block navbar_links %}
                            {% endblock navbar_links %}

                            <div class="navbar-user nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                                    <img src="{{ theme.navbar.profile.picture.src|raw }}" alt class="d-block ui-w-30 rounded-circle">
                                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{ theme.navbar.profile.name|raw }}</span>
                                </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-person text-lightest"></i> &nbsp; My profile</a>
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-mail text-lightest"></i> &nbsp; Messages</a>
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-md-settings text-lightest"></i> &nbsp; Account settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- / Layout navbar -->

                <!-- Layout content -->
                <div class="layout-content">

                    <!-- Page content -->
                    {% block content %}
                    {% endblock content %}
                    <!-- / Page content -->

                    <!-- Layout footer -->
                    <nav class="layout-footer footer bg-footer-theme">
                        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                            {% block footer %}
                                <div class="pt-3">
                                    <span class="footer-text font-weight-bolder">{{ theme.footer.brand.name|raw }}</span> ©2018
                                </div>
                                <div>
                                    <a href="/" class="footer-link pt-3">Home</a>
                                </div>
                            {% endblock footer %}
                        </div>
                    </nav>
                    <!-- / Layout footer -->

                </div>
                <!-- Layout content -->

            </div>
            <!-- / Layout container -->

        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    {% if theme.coreScripts|length > 0 %}
        {% for coreScript in theme.coreScripts %}
            {{ coreScript|raw }}
        {% endfor %}
    {% endif %}
    {% if theme.scriptsOfLibs|length > 0 %}
        {% for scriptOfLib in theme.scriptsOfLibs %}
            {{ scriptOfLib|raw }}
        {% endfor %}
    {% endif %}
    <script src="{{ asset('bundles/appwork/custom/js/boot-priority-left.js') }}"></script>
{% endblock body %}